<?xml version="1.0" encoding="utf-8" ?>
<log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--用于记录系统开发时的调试信息:如debug等-->
  <appender name="SysDebugFileAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelMatchFilter">
      <param name="LevelToMatch" value="DEBUG"/>
    </filter>
    <file value="Log\Debug\" />
    <appendToFile value="true" />
    <rollingStyle value="Date"/>
    <staticLogFileName value="false"/>
    <datePattern value="yyyyMMdd.TXT" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%n%d{yyyy'-'MM'-'dd HH':'mm':'ss} 线程:[%t]%n文件名称:[%F]%n错误行数:[%L]%n日志名称:%c %-5p %n%m%n" />
      <header value="-----------------------------header-----------------------------"/>
    </layout>
  </appender>
  <!--用于记录系统运行时的状态概览:如启动、配置修改等-->
  <appender name="SysRunFileAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="INFO"/>
      <param name="LevelMax" value="WARN"/>
    </filter>
    <file value="Log\Info\" />
    <appendToFile value="true" />
    <rollingStyle value="Date"/>
    <staticLogFileName value="false"/>
    <datePattern value="yyyyMMdd.TXT" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%n%d{yyyy'-'MM'-'dd HH':'mm':'ss} 线程:[%t]%n文件名称:[%F]%n错误行数:[%L]%n日志名称:%c %-5p %n%m%n" />
      <header value="-----------------------------header-----------------------------"/>
    </layout>
  </appender>
  <!--用于记录系统运行时的异常状态:如Exception等-->
  <appender name="SysErrorFileAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ERROR"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
    <file value="Log\Exception\" />
    <appendToFile value="true" />
    <rollingStyle value="Date"/>
    <staticLogFileName value="false"/>
    <datePattern value="yyyyMMdd.TXT" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%n%d{yyyy'-'MM'-'dd HH':'mm':'ss} 线程:[%t]%n文件名称:[%F]%n错误行数:[%L]%n日志名称:%c %-5p %n%m%n" />
      <header value="-----------------------------header-----------------------------"/>
    </layout>
  </appender>

  <appender name="ConsoleAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%n%d{yyyy'-'MM'-'dd HH':'mm':'ss} 线程:[%t]%n文件名称:[%F]%n错误行数:[%L]%n日志名称:%c %-5p %n%m%n" />
      <header value="-----------------------------header-----------------------------"/>
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="SysDebugFileAppender" />
    <appender-ref ref="SysRunFileAppender" />
    <appender-ref ref="SysErrorFileAppender"/>
  </root>
  <logger name="NHibernate" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="SysRunFileAppender" />
  </logger>
  <logger name="NHibernate.SQL" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="ConsoleAppender"/>
    <!--<appender-ref ref="SysDebugFileAppender" />-->
  </logger>
</log4net>